/* .jaoContainer{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
} */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

html,body{
    scroll-behavior: smooth;
    overflow-x: hidden;
    background:black !important;
    height: 100%;
}

body::-webkit-scrollbar {
    width: 0.25rem;
    }

    body::-webkit-scrollbar-track {
    background: #1e1e24;
    }

    body::-webkit-scrollbar-thumb {
    background: #E50914;
    }

header{
    background-color:rgb(2, 3, 3);
}

.body-editar{
    background: rgb(88,88,88) !important;
    background: radial-gradient(circle, rgba(88,88,88,1) 0%, rgba(0,0,0,1) 70%) !important;
}

.clearfix{clear: both;}
.alertBox{
    text-align: center;
}

.alertBox p,
.alertBox li{
    margin-bottom:2px;
}

.errosBox ul,
.alertBox ul{
    list-style-type: none;
    margin: 0;
}

.errosBox li,
.alertBox li{
    padding: 5px;
}

.mobile-menu-wrapper{
    position: relative;
    top:-50px;
}

nav.mobile-menu{
    display: none;
	cursor: pointer;
	display: none;
	width: 32px;
	height: 32px;
	background-image: url('../images/menu.png');
    background-size: 100% 100%;
    float: right;
}

nav.mobile-menu ul{
    z-index: 999;
	display: none;
	/*transition: 1s;*/
	background-color: white;
	position: absolute;
	width: 100%;
	left: 0;
	list-style-type: none;
    text-align: center;
    top: 50px;
}

nav.mobile-menu ul li{
    position: relative;
    z-index: 999;
	padding: 8px 0;
	transition: 0.4s;
	border-bottom: 1px solid black;
}

nav.mobile-menu ul li:hover{
	background-color: rgb(230,230,230);
}

nav.mobile-menu ul li a{
    position: relative;
    z-index: 999;
	color: black;
	text-decoration: none;
}

/* HEADER */
.img-logo{
    /* width: 100%; */
    /* height: 100%; */
    max-width: 150px;
    max-height: 100px;
}

.nav li{
    position: relative;
    top: -2px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 5px;
}

.nav li a{
    color: white;
}

.nav li a:hover{
    opacity: 0.8;
}

.nav li:nth-of-type(5n){
    margin-left: auto;
    padding-right: 20px;
    width: 350px;
}

.nav li i{
    margin-right: 10px;
    color: white;
    font-size: 26px;
}

.img-wraper img{
    max-width: 50px;
    max-height: 50px;
    width: 60px;
    height: 60px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 8px;
    /* background img */
    background-size: cover;
}

.nav p {
    position: relative;
    top: 5px;
    color:white;
    align-content: center;
    align-items: center;
    margin-right: 20px;
    cursor: default;
}

.nav .dropdown .btn{
    position: relative;
    margin-right: 20px;
    background-color: black;
}

.dropdown-menu{
    background-color: black !important;
}

.dropdown-item{
    color: black;
}

/* HOME BANNER */
section.banner{
	/* background-image:url('../images/banner.jpg');
	background-size: cover;
	background-position: center; */
	width: 100%;
	height: 600px;
	position: relative;
	z-index: 1;

	overflow-y: hidden;
	overflow-x: hidden;

}


#video-destaque{
	min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
	left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    z-index: 1;


}

.overlay{
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}

.nome_admin{
    color: gold !important;
}

.texto-destaque{
	color: white;
	z-index: 3;
	position: relative;
	margin-top:90px;
	margin-left: 4%;
}

.texto-destaque h2{
	color: #E50914;
	font-size: 60px;
	text-transform: uppercase;
}

.texto-destaque h3{
	margin:20px 0;
	font-size: 30px;
}

.texto-destaque p{
	font-size: 25px;
}

.texto-destaque a{
	background-color: rgba(100,100,100,0.3);
	color: white;
	text-decoration: none;
	padding: 8px 40px;
	font-size: 23px;
	display: inline-block;
	margin-right: 15px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.texto-destaque a:hover{
    transition: 0.5s;
	background: white;
    color: black;
    text-decoration: none;
}

/* CAROUSELS */
.carousel-title{
    margin-top: 30px;
    margin-left: 60px;
    margin-bottom: 15px;
    color: white;
    font-size: 21px;
}

.carousel-title b{
    color:#E50914;
}
section.vitrine .vitrine-flex{
	width: 96%;
	margin-left: 4%;
	position: relative;
	z-index: 4;
}


.vitrine-single-banner{
	width: 100%;
	padding-top: calc(16.6% / 2);
	float: left;
	position: relative;
}

.vitrine-wraper{
	position: absolute;
	left: 0;
    top: 0;
	width: 100%;
    height: 100%;
    background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
    border: 6px solid black;
}

.vitrine-wraper:hover{
	transition: 1s;
    transform:scale(1.2,1.2);
    border:1px solid black;
}

.separador{
    width: 100%;
    padding: 5px;
    background-color: rgb(30,30,30);
}

/* FOOTER PADRAO */
.footer-padrao{
    margin-top: 80px;
    background-color:black;
    color: white;
}

.footer-padrao a{
    color: gray;
    text-decoration: none;
    cursor: pointer;
}

.footer-padrao a:hover{
    text-decoration: none;
    color:#ccc;
    transition: 0.3s;
}

.icones-footer a{
    cursor: pointer;
}

.texto-footer,.icones-footer{
    position: relative;
    top:-15px;
}


/* EDITAR PERFIL */
.box{
    position: relative;
    top: calc(50% - 75px);
    left:50%;
    transform: translate(-50%, -50%);
    width: 450px;
    padding: 40px;
    background:rgba(0,0,0,0.8);
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.box h2{
    margin:0 0 30px;
    padding: 0;
    color:#ffffff;
    text-align: center;
}

.box .inputBox{
    position: relative;
}

.box .inputBox input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.box .inputBox label{
    position: absolute;
    top: 0;
    left:0;
    padding: 10px 0;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
    pointer-events: none;
    transition: .5s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label{
    top: -18px;
    left:0;
    color:#E50914;
    font-size: 12px;
}

.box input[type="submit"]{
    background:transparent;
    border:none;
    outline: none;
    color:#ffffff;
    background:#E50914;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.breadCriar{
    margin-top: 25px;
}

.breadCriar a{
    color: white;
}

.breadCriar a:hover{
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

div.box-usuario{
	padding: 8px;
	text-align: center;
}

.avatar-usuario{
	text-align: left;
	display: inline-block;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border: 3px solid #2F3D42;
}

.avatar-usuario-header i{
    /*  */
}

.avatar-usuario input[type=file]{
    margin-top: 30px;
    color: white;
}


.avatar-usuario i{
	position: relative;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	font-size: 50px;
	color: #2F3D42;
}

.imagem-usuario{
	display: inline-block;
	width: 130px;
	height: 130px;
	position: relative;
	border-radius: 50%;
    border: 3px solid #2F3D42;
}

.imagem-usuario img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.inputBox{
    margin-top: 30px;
}

.inputBoxImagem{
    margin-top: 20px;
    margin-bottom: 50px;
    color: white;
}

.inputBoxImagem label{
    display: block;
    text-align: left;
}

/* PAINEL */
.navPainel{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #222222;
    opacity: .9;
    overflow: hidden;
    padding-top: 60px;
    transition: 0.7s;
}

.navPainel a{
    display: block;
    padding: 20px 30px;
    font-size: 25px;
    text-decoration: none;
    color: #fff;
}

.navPainel a:hover, .slidePainel a:hover{
    color: #E50914;
    transition: 0.4s;
    text-decoration: none;
}

.navPainel .closePainel{
    position: absolute;
    top: 0;
    right: 22px;
    margin-left: 50px;
    font-size: 30px;
}

.slidePainel a {
    color: #fff;
    font-size: 36px;
}

#content{
    padding: 20px;
    transition: margin-left 0.7s;
    overflow: hidden;
    width: 100%;
}

.contentPainel h1{
    color: white;
    text-align: center;
}

.boxTextArea{
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    outline: none;
    background: transparent;
}

.boxTextArea label{
    position: relative;
    display: block;
    color: white;
}

.boxTextArea textarea{
    resize: vertical;
    width: 100%;
    padding: 5px;
    height: 100px;
}

.painelLista{
    overflow-x: scroll !important;
}

.painelLista a{
    text-decoration: none;
}

.painelLista i{
   cursor: pointer;
   margin-top: 3px;
}

.painelLista i:hover{
    opacity: 0.8;
 }


