@media screen and (max-width: 1080px){

    nav.mobile-menu{
        display: inline-block;
        margin: 20px;
        margin-top: 7px;
    }

    header li:last-child{
        display: none;
    }

    .nav-desktop li:nth-of-type(5){
        margin-right: 50px;
        margin-top: 7px;
    }
}

@media screen and (max-width: 920px){
    .nav-desktop li:nth-of-type(1n){
        display: none;
    }

    .nav-desktop li:nth-of-type(5){
        display: flex;
    }


}

/* @media screen and (max-width: 565px){

    .nav-desktop li:nth-of-type(5){
        display: none;
    }
} */

@media screen and (max-width: 514px){

    header li:nth-of-type(5){
        padding: 10px;
    }
}


@media screen and (max-width: 410px){
    .banner a{
        display: none;
    }
}


