@media screen and (max-width: 1080px){

    header{
        padding: 0;
    }

    nav.mobile-menu{
        display: inline-block;
        margin: 20px;
        margin-top: 7px;
    }

    header li:last-child{
        display: none;
    }

    .nav-desktop li:nth-of-type(5){
        margin-right: 50px;
        margin-top: 7px;
    }
}

@media screen and (max-width: 920px){
    .nav-desktop li:nth-of-type(1n){
        display: none;
    }

    .nav-desktop li:nth-of-type(5){
        display: flex;
    }


}

@media screen and (max-width: 565px){

    /* .nav-desktop li:nth-of-type(5){
        display: none;
    } */
    .img-logo{
        display: none;
    }

    header li:nth-of-type(5){
        padding: 10px;
    }

}

@media screen and (max-width: 514px){

    /* header li:nth-of-type(5){
        padding: 10px;
    } */
}


@media screen and (max-width: 410px){
    .banner a{
        display: none;
    }
    .box{
        width: 300px;
        top:270px;
    }
}


